
* {
    padding: 0;
    font-family: 'Segoe UI';
    background: #c3d3b2;
    max-width: 100%;
    margin: 0;
    margin-bottom: 0;
}
html {
    scroll-behavior: smooth;
}
h1.title {
text-align: center;
padding-top: 5px;
text-size-adjust: 200px;
color:white;
}

h1.miniTitle {
    text-align: left;
    padding-top: 5px;
    text-size-adjust: 100px;
    color: white;
}
p.subtitle {
text-align: center;
padding: 20px;
text-size-adjust: 30px;
color:white;
}

p.paragraph {
    text-align: left;
    padding: 20px;
    text-size-adjust: 20px;
    color: white;
}

div.pic {
    padding-left: 250px;
    width: 100%;
}
div.mainImage{
width: fit-content;
height:500px;
}

ul.menu{
    top:5px;   
}
li.list{
    display: inline-block;
}