* {
    padding: 0;
    font-family: 'Segoe UI';
    background: #fff5ff;
    max-width: 100%;
    margin: 0;
    margin-bottom: 0;
}
html {
    scroll-behavior: smooth;
}
h1.title {
text-align: center;
padding-top: 100px;

}
p.subtitle {
text-align: center;
padding: 20px;
text-size-adjust: 30px;
}