
* {
    padding: 0;
    font-family: 'Segoe UI';
    background: #c3d3b2;
    max-width: 100%;
    margin: 0;
    margin-bottom: 0;
}
html {
    scroll-behavior: smooth;
}
h1.title {
text-align: center;
padding-top: 5px;
text-size-adjust: 200px;
color:white;
}

h1.miniTitle {
    text-align: left;
    padding-top: 5px;
    text-size-adjust: 100px;
    color: white;
}
p.subtitle {
text-align: center;
padding: 20px;
text-size-adjust: 30px;
color:white;
}

p.paragraph {
    text-align: left;
    padding: 20px;
    text-size-adjust: 20px;
    color: white;
}

div.mainImage{
width: fit-content;
height:400px;
padding:0;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    li a:hover, .dropdown:hover .dropbtn {
        background-color: #9897A9;
    }

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4D4C5C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: white;
        padding: 12px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #9897A9;
        }

.dropdown:hover .dropdown-content {
    display: block;
}
    .logo img {
        margin-top: -10px;
        margin-left: 0;
        width: 50%;
        min-width:80px;
        padding:0;
    }


