
* {
    padding: 0;
    font-family: 'Segoe UI';
    background: #c3d3b2;
    max-width: 100%;
    margin: 0;
    margin-bottom: 0;
}
html {
    scroll-behavior: smooth;
}
div.container{
    margin-top: 360px;
    text-shadow: 1px 1px #a0b0a4e2;
}
h1.title {
text-align: center;
padding-top: 5px;
text-size-adjust: 200px;
color:white;

}

h1.miniTitle {
    text-align: left;
    padding-top: 5px;
    text-size-adjust: 100px;
    color: white;
}
p.subtitle {
text-align: center;
padding: 20px;
text-size-adjust: 30px;
color:white;
}

p.paragraph {
    text-align: left;
    padding: 20px;
    text-size-adjust: 20px;
    color: white;
}

div.mainImage{
width: fit-content;
height:0px;
padding:0;
}
img{
    height:fit-content;
}

li a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    background-color: transparent;
    text-shadow: 1px 1px #91a195e2;
    vertical-align: top;
    
}

    li a:hover{
        background-color: #a6d5a6;
    }
       
    .logo img {
        margin-left: 5px;
        width: 40%;
        min-width:80px;
        padding:0;
        background-color: transparent;
    }
li.list{
    display: inline;
    top:0;
    background-color: transparent;
    vertical-align: top;
    padding-top: 20px;
    margin-left:20px;
   

}   
ul.menu{
    display: inline;
    background-color: transparent;
    top:0;
    
} 
li.logo {
    display: inline-block;
    background-color: transparent;
    vertical-align: top;
}
li.home {
    margin: 2px;
    top:0;
    display: inline-block;
    background-color: transparent;
}
ul.list{
    background-color: transparent;
    padding-top: 20px;
}
div.menu{
    top:0;
    background-color: transparent;
    margin-left: 10px;
}
div.height{
    top:0;
    margin-left: 10px;
}

