@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Italiana&family=Lora:ital@1&family=Nanum+Gothic&display=swap');

*{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Nanum Gothic', sans-serif;
}

body{
    width:100%;
    margin:0;
    background: #7E9F5B;
}

.img{
background-image: url(Photos/lilyofthevalley.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: calc(100vw * 383 / 756); 
}

nav ul{

top:0;
margin: 0 0 2rem 0;
display: inline-flex;
font-size: 1.15rem;
font-weight:bold;
align-items: center;
flex-wrap: nowrap;
justify-content: left;
}
nav li{
    display: inline-block;
    top:0;
    vertical-align: top;
    padding:.5rem;
    width: fit-content; 
}

nav li a{
    display: inline-block;
    color: white;
    padding: 1rem 1.2rem;
    text-decoration: none;
    text-shadow: 1px 1px #303832e2;
    vertical-align: top;
}
nav li a:hover{
    background-color: #3E843E;
}

.logo img{
    width: 4rem;
}
.title{
    text-align: center;
    color:#fff;
}
.title h1{
    font-family: 'Cookie', cursive;
    font-weight: 1;
    font-size: 5rem;
}
.content{
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 2rem;
  gap:1rem;
}
.content img{
    padding:2rem;
   
}
.title h2{
    font-size: 1.4rem;
     margin:0;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
h2{
    margin-top: 8rem;
    color:white;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bolder;

}  
section{
    margin:2rem;
}
hr{
border: .2rem solid #e4ffd0;
margin: 8rem 20%;
border-radius: 2px;
background-color:#e4ffd0;
}











