* {
    padding: 0;
    font-family: 'Segoe UI';
    
    background: #1c1b1c;
    max-width: 100%;
    margin: 0;
    margin-bottom: 0;
}
html {
    scroll-behavior: smooth;
}
h1.title {
text-align: center;
padding-top: 60px;
text-size-adjust: 300px;
color:white;
}
p.subtitle {
text-align: center;
padding: 30px;
text-size-adjust: 30px;
color:white;
}
div.pic{
   padding-left: 30px;
    height:-100px;
    width:80%;
}