
* {
    padding: 0;
    font-family: 'Segoe UI';
    background: #c3d3b2;
    max-width: 100%;
    margin: 0;
    margin-bottom: 0;
}
html {
    scroll-behavior: smooth;
}
h1.title {
text-align: center;
padding-top: 5px;
text-size-adjust: 200px;
color:white;
}

h1.miniTitle {
    text-align: left;
    padding-top: 5px;
    text-size-adjust: 100px;
    color: white;
}
p.subtitle {
text-align: center;
padding: 20px;
text-size-adjust: 30px;
color:white;
}

p.paragraph {
    text-align: left;
    padding: 20px;
    text-size-adjust: 20px;
    color: white;
}

div.pic {
    padding-left: 250px;
    width: 100%;
}
div.mainImage{
width: fit-content;
height:500px;
}

ul.list {
    list-style-type:none;
    position: fixed;
    top: 0px;
    left: 5px;
    background-color:transparent;
}

li.list {
 
    width: 30px;
    display: inline-block;
    background-color:transparent;
    padding:20px;
    display: inline-block;
}
li.logo {
    display: inline-block;
    padding-top: 22px;
    width: 150px;
    margin:0px;
    background-color:transparent;
}
li.home {
    padding:20px;
    width: 30px;
    display: inline-block;
    background-color:transparent;
}
li.dropdown {

    width: 11%;
    display: inline-block;
    background-color:transparent;
}

    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color:transparent;
    }

        li a:hover, .dropdown:hover .dropbtn {
            background-color: #b5e2b6;
        }

    li.dropdown {
        display: inline-block;
        background-color:transparent;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color:transparent;
}

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #b5e2b6;
        
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.logo img {

    width: 110px;
    margin-top: -15px;
    background-color:transparent;
   
}

.fa:hover {
    opacity: 0.7;
}
/* Style all font awesome icons */
.fa {
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 12px;
}

    /* Add a hover effect if you want */
    .fa:hover {
        opacity: 0.4;
    }

/* Set a specific color for each brand */

.fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.fa-youtube {
    background: #bb0000;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.fa-instagram {
    background: #8a3ab9;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}


.footer {
    position: fixed;
    bottom: 0;
    color: white;
    text-align: center;
    display: inline-flex;
    list-style: none;
    padding: 4px;
}

li.copy {
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 20px;
    display: inline-block;
}
a:hover {
    border-bottom-style: solid;
    color: black;
}
